---
layout: default
title: SMU Business Intelligence Analytics
description: We're a community of student data analysts and scientists focused on a practical projects-driven co-learning.
keywords: home, homepage
---

<div id="content">
  <div class="row" id="home-image_banner">
    <img src="https://scontent-sit4-1.xx.fbcdn.net/v/t1.0-9/20622323_816108071894671_1241438410484188360_n.jpg?oh=44b0296c13320f1681536900551f17a9&oe=59F3C8CB" width="100%">
  </div>
  <div class="row" id="home-content_body">
    <div class="large-12 columns">
      <h1>Events / Workshops</h1>
      <div class="row small-up-12 medium-up-3" id="events-cards">
        {% assign currDate = site.time | date: '%s' %}
        {% assign upcoming_events = "" | split: "" %}
        {% assign events = site.categories.events %}

        {% for event in events %}
          {% assign eventStartDate = event.happening_from | date: '%s' %}
          {% if eventStartDate >= currDate %}
            {% assign upcoming_events = upcoming_events | push: event %}
          {% endif %}
        {% endfor %}

        {% assign upcoming_events = upcoming_events | sort: "happening_from" %}
        {% for event in upcoming_events limit: 3 %}
        <div class="column">
          <div class="card news-card">
            <div class="card-section" onclick="location.href = '{{event.url}}';">
              <article class="news-card-article">
                <h4 class="news-card-title"><a href="{{event.url}}">{{event.title}}</a></h4>
                <p class="news-card-description  hide-for-small-only">{{event.content | strip_html | truncate:100 }}</p>
              </article>
              <h5 class="news-card-date">
                {{event.happening_from | date: "%e %b %y (%A)" }} <br>
                {{event.happening_from | date: "%I.%M %p"}} - {{event.happening_to | date: "%I.%M %p"}}
              </h5>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div id="home-essays_reports_projects" class="row">
    <div class="large-8 large-collapse columns" id="home-essays_reports">
      <h1>Essays / Reports</h1>
      <div class="row large-collapse">
        {% for post in site.categories.blog %}
        <article class="large-12 columns essay_report-item">
          <a href="{{post.url}}">
            <h4>{{post.title}}</h4>
          </a>
          {{post.content | strip_html | truncate:180 }}...
          <a href="{{post.url}}">Read more</a>
        </article>
        {% endfor %}
      </div>
    </div>
    <div class="large-4 columns" id="home-projects">
      <h1>Projects</h1>
      <p>3-4 project cards goes here. TBD</p>
    </div>
  </div>
</div>
