<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.name }} - {{ page.title }}</title>
    <meta name="description" content="{{ page.title }} - {{ site.name }}" />
    <meta name="keywords" content="{{ page.keywords }}, {{ site.keywords }}" />
    <!-- Google fonts https://www.google.com/fonts
    ================================================== -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono|Rubik:500,700|Work+Sans:400,700" rel="stylesheet">

    <link rel="stylesheet" href="{{ site.baseurl }}/css/app.css">

    <!-- favicon
    ================================================== -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Open Graph: https://developers.facebook.com/docs/opengraph/howtos/maximizing-distribution-media-content/
    Twitter: https://dev.twitter.com/docs/cards/types/summary-card
    ============================== -->
    <meta property="og:site_name" content="{{ site.name }}"/>
    <meta property="og:url" content="{{ site.url }}"/>
    <meta property="og:description" content="{{ page.description }}"/>
    <meta property="og:image" content="{{ page.imageurl }}"/>
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@{{ site.twitter }}">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ page.description }}">
    <meta name="twitter:image" content="{{ page.imageurl }}">

</head>  