h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

$menu-color: #4A4A4A;
$menu-hover-color: black;

#menu {
  margin-top: 32px;
  border-bottom: 1px solid #979797;
  padding-bottom: 10px;

  @include breakpoint(large medium only) {
    div {
      padding-right: 0;
    }

    .menu > li > a {
      padding-left: 30px;
      padding-right: 0px;
    }
  }

  @include breakpoint(small only) {

    .menu {
      margin-top: 15px;
    }

    .menu > li {
      display: inline-block;
      float: none;
    }

    .menu > li > a {
      font-size: 16px;
      padding: 15px 10px;
    }
  }

  .menu > li > a {
    text-transform: uppercase;
    font-family: $header-font-family;
    font-weight: bold;
    color: $menu-color;
  }

  .menu > li > a:hover {
    color: $menu-hover-color;
    text-decoration: underline;
  }
}

#content {
  @include breakpoint(large medium only) {
    // margin-top: 52px;

    #home-image_banner {
      // margin-top: -52px;
    }

    #home-essays_reports_projects {
      margin-top: 30px;
      margin-bottom: 30px;
    }

  }

  @include breakpoint(small only) {
    margin-top: 30px;

    #home-image_banner {
      margin-top: -30px;
    }

    #home-essays_reports {
      margin: 20px 0 40px 0;
    }

    #home-projects {
      margin-bottom: 50px;
    }

    #home-essays_reports_projects {
      margin-top: 0px;
      margin-bottom: 30px;
    }
  }

  #home-content_body {
    margin-top: 45px;
  }

  #home-essays_reports {
    h1 {
      margin-bottom: 20px
    }
  }

  $news-card-label-background: $primary-color;
  $news-card-label-background-hover: scale-color($news-card-label-background, $lightness: -15%);

  #events-cards {
    margin-top: 25px;
  }

  .news-card {
    background-color: $white;
    font-weight: 400;
    margin-bottom: 1.6rem;
    border-radius: 0.125rem;
    box-shadow: 0 1px 3px rgba(0,0,0, 0.12), 0 1px 2px rgba(0,0,0, 0.24);

    .card-section {
      background-color: inherit;

      &:hover {
        cursor: pointer;
      }

      .news-card-date {
        font-size: 1em;
        color: $dark-gray;
        font-weight: 500;
      }

      .news-card-article {
        background-color: inherit;

        .news-card-title {
          line-height: 1.3;
          font-weight: 500;

          a {
            text-decoration: none;
            color: $dark-gray;
            transition: color 0.5s ease;

            &:hover {
              color: $primary-color;
            }
          }
        }

        .news-card-description {
          color: $dark-gray;
          font-size: 14px;
          font-family: $font-family-monospace;
        }
      }
    }
  }
}

article {
  &.essay_report-item {
    margin-bottom: 25px;
  }
}

.pages, .events {
  h1 {
    margin-top: 52px;
    border-bottom: 1px solid #cacaca;
  }

  h2 {
    margin: 1.5em 0 0.5em;
  }

  h3:first-of-type {
    margin: 1.5em 0 0.5em;
  }

  h3 {
    margin: 1.75em 0 0.5em;
  }

  h3:last-of-type {
    margin: 1.75em 0 2em;
  }

  p {
    margin: 1.25em 0 .5em 0;
    font-size: 18px;
  }
}

.essays {
  h1 {
    margin-top: 2em;
  }

  h2 {
    margin-top: 2em;
    margin-bottom: 10px;
    border-bottom: 1px solid #333;
  }

  h3 {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  p {
    margin: 1.25em 0 .5em 0;
    font-size: 18px;
  }

  .essays-title_and_author {
    text-align: center; margin-bottom: 50px;
  }

  .essays-author_name {
    font-style: italic;
    font-size: 20px;
  }
}

.analytics-page {
  .analytics-case_studies {
    background: #f9f9f9;
    text-align: center;
  }
  h1 {
    margin-top: 0.75em;
  }

  h3 {
    margin-top: 15px;
    margin-bottom: 10px;
  }
}


#footer {
  margin: 30px 0 50px 0;
}
