<!doctype html>
<html class="no-js">
{% include head.html %}

<body>

	{% include nav.html %}

	<div id="content">
		<div class="row">
			<div class="large-12 columns">
				<h1>Events / Workshops</h1>
				<br>
				<h2>Upcoming</h2>
				<div class="row small-up-12 medium-8" id="events-cards">
					<div class="column">
						{% assign events = site.categories.events | sort: "happening_from" %}
						{% for event in events %}
								<div class="card news-card">
									<div class="card-section">
										<article class="news-card-article">
											<h4 class="news-card-title"><a href="{{event.url}}">{{event.title}}</a></h4>
										</article>
										<h5 class="news-card-date">
			                {{event.happening_from | date: "%e %b %y (%A)" }} <br>
			                {{event.happening_from | date: "%I.%M %p"}} - {{event.happening_to | date: "%I.%M %p"}}
			              </h5>
									</div>
								</div>
						{% endfor %}
					</div>
				</div>

				<h2>Past</h2>
			</div>
		</div>
	</div>

	{% include footer.html %}


</body>
</html>
